<div class="row ml-1 mb-1 mr-0 custom-border">

  <!--?Detail Articles-->
  <div class="col-md-3 mb-2 mt-2 custom-border-right">

      <div class="row text-center">
        <div class="col-md-11">13.04.2022</div>
      </div>

  </div>
  <!--?Detail Categories-->
  <div class="col-md-3 mb-2 mt-2 custom-border-right">
    <div class="row">
      <div class="col-md-10">
          <div class="col-md-12 text-center">
            <h5>139</h5>
          </div>
        </div>
    </div>
  </div>

  <div class="col-md-3 mb-2 mt-2 custom-border-right">
    <div class="row">
      <div class="col-md-10">
        <div class="col-md-12 text-center">
          <h5>Sortie</h5>
        </div>
      </div>
    </div>
  </div>

  <!--?Boutton Action-->
  <div class="col-md-3">
    <div class="row">

        COMMANDE_CLIENT

    </div>
  </div>
</div>
