<div class="row mb-1 mr-0 custom-border">
  <!--?image-->
  <div class="col-md-1 p-1 text-center mb-1 mt-1">
    <div class="border right">
      <img src="" width="100px" height="100px">
    </div>
  </div>
  <!--?Detail Articles-->
  <div class="col-md-5 mb-2 mt-2 border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-11">032 81 043 79</div>
      </div>
    </div>
  </div>
  <!--?Detail Categories-->
  <div class="col-md-3 mb-1 mt-1 border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
        <div class="col-md-10">Adresse 1 Adresse 2</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-map-marker blue-color"></i></div>
        <div class="col-md-10">079 Malaza</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-globe-africa blue-color"></i></div>
        <div class="col-md-10">Pays</div>
      </div>
    </div>
  </div>
  <!--?Boutton Action-->
  <div class="col-md-3 mb-2 mt-2">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt"></i>&nbsp; Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-trash-alt"></i>&nbsp; Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-list-alt"></i>&nbsp; Details
        </button>
      </div>
    </div>
  </div>
</div>
